$color-faint-gray: #e1e1e1;
$color-light-gray: #999999;
$color-dark-gray: #444444;

$color-primary: #0260cd;
$color-primary-dk: #042c5a;
$color-primary-lt: #afd5ff;
$color-secondary: #0ead00;
$color-secondary-dk: #0b5d03;
$color-secondary-lt: #c1ffbb;
$color-tertiary: #e86602;
$color-tertiary-dk: #793500;
$color-tertiary-lt: #ffd2af;
